$btn-primary: #4d8dc1;
$btn-unfilled: #4dc166;
$btn-unfilled--hover: #4f9e60;
$btn-primary--hover: rgba(#4d8dc1, 0.88);
$btn-font--color: #fff;

.btn-primary {
	background: $btn-primary;
	color: $btn-font--color;
	transition: background-color 250ms ease-in-out;
	outline: none;
	border: 1px solid $btn-primary;
	border-radius: 0.25rem;
	width: 30%;
	max-width: 7rem;
	padding: 0.38rem 0;
	font-weight: 700;
	text-transform: capitalize;
	margin: auto;
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	&:hover {
		background: $btn-primary--hover;
	}
}

.btn-unfilled {
	background-color: inherit;
	color: $btn-unfilled;
	transition: background-color 25ms ease-in-out;
	outline: none;
	border: 2px solid $btn-unfilled;
	border-radius: 0.25rem;
	// width: 30%;
	max-width: 7rem;
	padding: 0.38rem 0.38rem;
	font-weight: 500;
	margin: auto;
	cursor: pointer;
	margin-right: 1rem;
	&:hover {
		color: $btn-font--color;
		background-color: $btn-unfilled--hover;
	}
}
